<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
    
        </div>
    </div>


    <!-- <div class="legend">
                <ul>
                <li><div class="bullet" style="background: black;">LEGEND</div></li>
                <li><div class="bullet" style="background: #008000;">0.9-1</div></li>
                <li><div class="bullet" style="background: #32CD32;">0.8-0.9</div></li>
                <li><div class="bullet" style="background: #2E8B57;">0.7-0.8</div></li>
                <li><div class="bullet" style="background: #00FA9A;">0.6-0.7</div></li>
                <li><div class="bullet" style="background: #90EE90;">0.5-0.6</div></li>
                <li><div class="bullet" style="background: #DAA520;">0.4-0.5</div></li>
                <li><div class="bullet" style="background: #FFA500;">0.3-0.4</div></li>
                <li><div class="bullet" style="background: #FF8C00;">0.2-0.3</div></li>
                <li><div class="bullet" style="background: #FF0000;">0.1-0.2</div></li>
                <li><div class="bullet" style="background: #8B0000;">0-0.1</div></li>
            </ul> -->

            <!-- let under18 = this.data.propertieOfLeayer.Prcnt_U18;
        let over65 = this.data.propertieOfLeayer.Prcnt_65O; -->
        <!-- under18 = this.data.propertieOfLeayer.Prcnt_U18.display;
        over65 = this.data.propertieOfLeayer.Prcnt_65O.display;
       
       
       
     
       buildChart(){
         const myChart = new Chart("myChart", {
           type: '',
           data: {
             labels: ['UNDER_18', 'OVER_65'],
             datasets: [
               {
               data: this.under18,
               backgroundColor: ['8B0000', '#FF0000'],
               borderWidth: 3
             },
             {
               data: this.over65,
               backgroundColor: ['#8B0000', '#FF0000'],
               borderWidth: 3
     
             },
           ]
           },
           options: {
             legend: {
               display: false
             },
             scales:{
               xAxes: [{
                 display: true
               }],
               yAxes:[{
                 display:true
               }]
             }
           }
         });
         
        }
     
     }
      -->
      <!-- ** listen click of html in ts 
        // .on('popupopen', (a) => {
        //   var popUp = a.target.getPopup();
        //   popUp
        //     .getElement()
        //     .querySelector('.chartbutton')
        //     .addEventListener('click', (e) => {
        //       this.openChart(propertie);
        //     });
        // }); -->