.map-container{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}
.map-frame {
    border:2px solid black;
    height: 100%;
}
#map{
    height: 100%;
    
}
.legend{

    background-color:rgba(0, 0, 0, 0.1);
    width: 150px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    


}
li{
    position: relative;
    margin: 0 0 7px 0;
    font-size: 20px;
    color: red;
    font-weight: bold;
    font-family: "Helvetica", Arial;
    text-transform: uppercase;
    text-align: left;
    height: 10px;
    line-height: 10px;
    vertical-align: middle;
}
.bullet{
    float: left;
    margin: 0 5px 0 0;
    border-radius: 50%;
    padding: 2px;
    z-index: 1000;
     
}
#divChart{
    width: 450px;
}
   
